* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

.box-container {
    border: 5px solid red;
    width: 50%;
    height: 300px;
    left: 100px;
    top: 100px;
}

.box {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    height: 80px;
    width: 80px;
    font-size: 2rem;
    bottom: 100px;
    right: 50px;
}

.box-verde {
    background-color: green;
}

.box-cinza {
    background-color: grey;
    color: black;
}

.box-amarelo {
    background-color: yellow;
    color: black
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
    top: 80px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.top-left {
    top: 10px;
    left: 10px;
}

.bottom-left {
    left: 10px;
    bottom: 10px;
}

.bottom-right {
    right: 10px;
    bottom: 10px;
}

.box-40 {
    left: 40px;
    top: 40px;
}

.box-80 {
    left: 80px;
    top: 80px;
}

.box-120 {
    left: 120px;
    top: 120px;
}

.nav-bar {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: brown;
    color: white;
    font-family: Verdana;
    padding: 15px;
    font-size: 1.5rem;
    gap: 15px;
    align-items: center;
    z-index: 999;
}

.nav-bar-azul {
    background-color: blue;
}

.top-0 {
    top: 0px;
}

.grow {
    flex-grow: 1;
}